#customFile {
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 42px;
    font-size: 17px;
    color: #8094ae;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.125rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.125rem + 2px);
    margin-bottom: 0;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.125rem;
    padding: 0.4375rem 1rem;
    line-height: 1.25rem;
    color: #3c4d62;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 4px 4px 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.125rem + 2px);
    padding: 0.4375rem 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4d62;
    background-color: #fff;
    border: 1px solid #dbdfea;
    border-radius: 4px;
}
span.xo-toggle.left {
    border-radius: 5px 0 0 5px;
}
span.xo-toggle.active {
    background: #1869ff;
    color: white;
}
span.xo-toggle {
    background: white;
    color: #1869ff;
    padding: 10px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,.05);
}
span.xo-toggle.right {
    border-radius: 0 5px 5px 0;
}
.gift-card {
    float: left;
    width: 24%;
    background: white;
    height: 230px;
    border-radius: 30px;
    padding: 20px;
    margin: 20px 0.5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
}
.gift-card:hover .iconsholder {
    display: flex;
}
@media (max-width: 1920px){
	.gift-card {
		width: 33%;
	}
}
@media (max-width: 1920px) and (min-width: 1700px){
    .gift-card.xen {
        width: 24%;
    }
}
@media (max-width: 1699px) and (min-width: 1024px){
	.gift-card.xen {
		width: 32%;
	}
}
@media (max-width: 768px) and (min-width: 470px){
    .gift-card.xen {
        width: 49%;
    }
}
@media (max-width: 469px){
    .gift-card.xen {
        width: 100%;
    }
    ul.countrylist li > div {
        width: 20px !important;
        height: 20px !important;
    }
    ul.countrylist p {
        font-size: smaller !important;
    }
}
.image-holder {
    background: grey;
    height: 160px;
    width: 80%;
    margin: 0 auto;
}
.catname {
    text-align: center;
    color: #0057FD;
    font-size: 20px;
	font-weight: 500;
	font-family: DM Sans, sans-serif;
    margin-top: 10px;
}
.iconsholder {
    display: none;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.iconsholder li {
    display: inline-block;
    margin: 10px;
}
.iconsholder span em {
	display: block;
	font-size: 30px;
	color: black;
}
.iconsholder small {
	color: #526484;
}
.iconsholder li{
	cursor: pointer;
}
.giftcard-loading{
	height: 20rem !important;
}
.view_buy_rate{
	cursor: pointer;
	color: #1869ff;
}
.buttton-action{
	display: flex;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
	column-gap: 20px;
}
.line-clamp-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.view-product-video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #7B7B7B;
    width: 100%;
    padding: 20px 0px;
    font-size: 12px;
}
.border-0{
	border: 0 !important;
}
.check-answer{
	position: absolute;
	top: 5px;
	right: 20px;
	font-weight: 900;
	font-size: 25px;
}
.add-option{
	cursor: pointer;
	width: fit-content;
	font-size: 10px;
}
.form-note-s2 > a{
	color: #1869ff;
}
.accent-color {
    color: #fff !important;
    background: #1e74f1 !important;
    border: 0;
}
.fist-table-data{
	width: 33%;
}
.addbuyrate{
	color: #0057FD !important;
}